body {
    background-color: gainsboro;
    color: yellow;
font-family: arial, helvetica, sans-serif;
font-size: 13px;
line-height: 15px;
font-weight: bold;
}

.square {
    width: 100px;
    height: 100px;
    background: darkgreen;
  }

.tall-square {
    width: 100px;
    height: 300px;
    background: darkgreen;
  }

  .button {
    transition-property: background-color;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 300ms;
    background-color: none;
    
    /*short-hand property: */
    /*transition: background-color 800ms ease-in-out 300ms;*/
  }
  
  .button:hover {
    background-color: magenta;
    cursor: pointer;
  }
  .letter {
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
    background-color: none;
}
  .letter:hover {
    color:magenta;
  }

  /* .square1 {
    width: 1920px;
    height: 200px;
    background: yellow;
    position:relative; top: 100px;
  }

  .square1:hover {
    background-color:magenta;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    transition-delay: 50ms;
    background-color: none;
}  */
