
		body {
			background-color: yellow;
			color: black;
			font-family: arial, helvetica, sans-serif;
			font-size: 13px;
			line-height: 15px;
			font-weight: bold;
		}

        {border-left-width: 10em;
        }